footer {
	display: flex;
	flex-direction: column;
	background-color: $bg-footer;
	& img {
		padding-top: 22px;
		padding-left: 25px;
		filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(241deg) brightness(107%)
			contrast(106%);
		height: 27px;
		width: 139px;
	}
	& ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 22px 25px;
		& li {
			padding-top: 7px;
		}

		& a {
			color: $bg-primary;
			text-decoration: none;
			font-weight: 400;
			font-size: 16px;
		}
		& i {
			padding-right: 10px;
		}
	}
    @media (min-width:1024px) {
        padding-right: 10px;
		flex-direction: row-reverse;
		& ul {
			flex-direction: row;
			column-gap: 30px;
		}
    }
}