.heart_icon {
    box-sizing: content-box;
    position: relative;
    z-index: 2;
    & .empty {
        position: absolute;
        top: 15px;
        left: -35px;

        opacity: 1;
        display: flex;
        align-items: center;
        
        color: $text-form;
        &--menu {
            top: 0;
            left:0;
            font-size: 1em;
            position: relative;
            
        }
    }
    & .full {
        opacity: 1;
        position: absolute;
        top: 15px;
        left: -35px;
        background: linear-gradient($button-primary, $button-secondary);
            -webkit-background-clip: text;
            background-clip: text;
            color: rgba(0, 0, 0, 0);
        animation: pop 1200ms ease-out;
        animation-fill-mode: forwards;
        &--menu {
            top: 0;
            left: -1px;
            font-size: 1.1em;
            animation: pop 1200ms;
            animation-fill-mode: forwards;
        }
    }
    @media (max-width: 1023px) {
            &:active {
                & > .full {
                    animation: like 800ms ease-out;
                    
                }
                & > .empty {
                    opacity: 0;
                    transition: opacity 1200ms;
                    
                }
            }
        }
        @media (min-width: 1024px){
        &:hover {
                & > .full {
                    animation: like 800ms ease-out;
                }
                & > .empty {
                    opacity: 0;
                    transition: opacity 1200ms;
                    
                }
            }
        }
    }
    



