.menucard {
	justify-content: space-between;
	padding: 13.5px 0 13.5px 15px;
	height: 55.5px;
	gap: 0;
	opacity: 0;
	animation: cardshift 500ms ease-out;
	animation-fill-mode: forwards;
	position: relative;
	overflow: hidden;
	&:nth-child(2) {
		animation-delay: 300ms;
	}
	&:nth-child(3) {
		animation-delay: 400ms;
	}
	&:nth-child(4) {
		animation-delay: 500ms;
	}
	&:nth-child(5) {
		animation-delay: 600ms;
	}
	&__price {
		display: flex;
		height: 100%;
		width: auto;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		color: $bg-footer;
		padding-right: 15px;
	}
	&__content {
		flex-direction: column;
		gap: 0px;
		min-width: 0;
		overflow: hidden;

		& h4 {
			font-size: 20px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		& p {
			font-size: 17px;
			font-weight: 300;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
	&__growing {
		display: flex;
		flex-direction: row;
		height: 100%;
		align-items: center;
	}
	&__checkmark {
		display: flex;
		background-color: $alternate-color;
		height: 82.5px;
		flex-shrink: 0;
		width: 0px;
		border-radius: 0 20px 20px 0;
		align-items: center;
		justify-content: center;
		transition: width 500ms ease-in-out;

		& i {
			color: $bg-tertiary;
			margin-right: 0;
		}
	}
	&:hover .menucard__checkmark {
		display: flex;
		width: 60px;

		transition: width 500ms ease-in-out;
		& > i {
			animation: checkmark_pop 400ms ease-out;
			animation-delay: 300ms ;
		}
	}
	
}