.card-res {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 251px;
	flex-grow: 1;
	object-fit: cover;
	border-radius: 20px;
	padding: 0;
	align-items: baseline;
	gap: 0;
	opacity: 0;
	animation: cardshift 500ms;
	animation-fill-mode: forwards;
	background-color: $bg-primary;
	& h3 {
		margin: 0;
	}
	& i {
		width: 22px;
		color: $text-form;
		font-size: 22px;
	}

	&__link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-decoration: none;
		color: black;
		display: flex;
		width: 100%;
		z-index: 1;
	}
	&--new::after {
		display: flex;
		position: absolute;
		right: 10px;
		top: 10px;
		content: "Nouveau";
		height: 30px;
		width: 80px;
		background-color: $alternate-color;
		color: $alternate-color-second;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
	}

	& img {
		object-fit: cover;
		height: 65%;
		width: 100%;
		border-radius: 20px 20px 0 0;
	}
	&-content {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		padding: 0px;

		&__text {
			display: flex;
			flex-direction: column;
			gap: 5px;
			padding: 15px;
			& p {
				font-weight: 300;
			}
		}
	}
	@media (min-width: 1024px) {
		width: 47%;
	}
}
