$bg-primary: #fff;
$bg-secondary: #eaeaea;
$bg-tertiary: #f6f6f6;
$bg-footer : #353535;


$text-form: #353535;
$button-primary: #9356dc;
$button-secondary: #ff79da;

$alternate-color: #99e2d0;
$alternate-color-second: #008766;